@model List<PlacesMVCpractice.Models.Vacation> 
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Here are several vacation options</h1>
<p></p>
               <div class="vacations">
                   @foreach (var vacation in Model)
                   {
                       <div class="listing">
                          
                           <div class="product-data">
                               <H3 class="title">@vacation.PlaceName</H3> 
                           </div>
                               <a href="@Url.Action("Detail", "Vacation", new { id = vacation.Id })">
                                   <img src="@Url.Content("~/Content/" + vacation.ImageName)" class="image"/>
                               </a>
                           @using (Html.BeginForm("Input", "User", FormMethod.Post))
                           {
                               <div class="form-field">
                                   @Html.RadioButton("vote", @vacation.PlaceName)
                               </div>
                           } 
 
                       </div>
                  
                   }
               </div>
<button type="submit">Submit!</button>

<p>Would you like to add a user to our database?</p>
<form action="@Url.Action("Input", "User")">
    <input type="submit" value="Add user" />
</form>

